/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Tilt Neon', sans-serif;
}

.main-container {
    width: 70%;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 2rem;
}

.info {
    color: aliceblue;
}

.col {
    border: solid blue;
    background-color: darkblue;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

/* MAIN */

.main-section {
    text-align: center;
    border: solid green;
}

h2 {
    font-size: 2rem;
    color: rgb(231, 92, 173);
    margin-bottom: 20px;
}

/* GRID SECTION */