/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Tilt Neon', sans-serif;
}

.main-container {
    width: 70%;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 2rem;
}

img {
    margin-right: 10px;
}

.info {
    color: aliceblue;
    margin-top: 5px;
}

.col {
    background-color: rgb(0, 0, 59);
    width: calc(100% / 3 - 10px);
    margin-top: 20px;
    margin-left: 5px;
    box-shadow: 2px 2px 10px black;
}

a {
    color: aqua;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

/* MAIN */

.main-section {
    text-align: center;
    /* border: solid green; */
}

h2 {
    font-size: 2.5rem;
    color: rgb(231, 92, 173);
    margin-bottom: 20px;
}

/* GRID SECTION */

.col {
    display: inline-block;
}

.grid {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 2rem;
    /* border: solid 2px red; */
}